body {
    padding-top: 70px;
    padding-bottom: 2px;
}

div.blog-summary {
    position: relative;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

    div.blog-summary div.fader {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 115px;
        overflow: hidden;
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 87%);
        background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 87%);
        background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#ffffff 87%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
    }

    div.blog-summary a{
        text-decoration: none;
    }

    div.blog-summary a:link{
        color: inherit;
    }
    div.blog-summary a:hover{
        color: inherit;
        cursor: default;
    }
    div.blog-summary a:visited{
        color: inherit;
    }

img {
    margin: 5px;
}

div.speedbump {
    padding-left: 0;
    padding-right: 0;
    min-height: 200px;
    overflow: hidden;
    display: block;
    background-color: #f8f8f8;
}

    div.speedbump div.speedbump-card {
        padding-left: 0;
        padding-right: 0;
        border: solid 1px #e7e7e7;
        min-height: 200px;
        overflow: hidden;
        display: block;
    }

        div.speedbump div.speedbump-card div.speedbump-header {
            padding: 20px;
            font-size: 24px;
            text-align: center;
            border-bottom: solid 1px #e7e7e7;
            display: block;
        }

        div.speedbump div.speedbump-card div.speedbump-content {
            font-size: 16px;
            padding: 10px;
            display: block;
        }

            div.speedbump div.speedbump-card div.speedbump-content.columns-2 {
                -moz-columns: 2 75px;
                -webkit-columns: 2 75px;
                columns: 2 75px;
            }

            div.speedbump div.speedbump-card div.speedbump-content.columns-3 {
                -moz-columns: 3 50px;
                -webkit-columns: 3 50px;
                columns: 3 50px;
            }

            div.speedbump div.speedbump-card div.speedbump-content.columns-4 {
                -moz-columns: 4 38px;
                -webkit-columns: 4 38px;
                columns: 4 38px;
            }
