@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="container">
    <div class="col-md-2 pull-left"></div>
    <div class="col-md-2 pull-right"></div>
    <div class="col-md-8">
        @CurrentPage.bodyText
    </div>
</div>